body {
  background-color: #283747;
  color: #D5F5E3;
  box-sizing: border-box;
  .section-heading {
  text-align:center;
  color:#D5F5E3;
  margin-top: 110px;
  margin-bottom:50px;
  font-size: 35px;
  font-family: Times New Roman; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > div {
    display: inline-block;
    padding: 1em;
}
}
